@charset "UTF-8";

/* Importação das Fontes do Google Fonts  */

@import url('https://fonts.googleapis.com/css2?family=Passion+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');


/* Definindo as Variáveis e Configurando as Fontes 
que serão utilizadas no Projeto */

:root {
    --fonte1: Verdana, Geneva, Tahoma, sans-serif;
    --fonte2: 'Passion One', cursive;
    --fonte3: 'Sriracha', cursive;
}


/* Configurações Globais:  */
* {
    margin: 0px;
    padding: 0px;
    font-size: 1em;
}

html, body {
    min-height: 100vh;
    background-color: darkgray;
    font-family: var(--fonte1);
}

header {
    background-color: black;
    color: white;
    text-align: center;
}

header > h1 {
    /* Espaçamento no topo do Cabeçalho */
    padding-top: 50px;
    /* Para colocar todas em maiúsculas */
    /* text-transform: uppercase; */
    /* Coloca em Maiúsculas mas as primeiras são maiores */
    font-variant: small-caps;
    font-family: var(--fonte2);
    /* Para o Tamanho das Fontes se tornar Responsivo:
    10% da Largura da Viewport */
    font-size: 10vw;
}

header > p {
    /* Espaçamento na base do Cabeçalho */
    padding-bottom: 50px;
}

header a, footer a {
    color: white;
    text-decoration: none;
    font-weight: bolder;
}

header a:hover, footer a:hover {
    text-decoration: underline;
}

section {
    /* Criando os espaços para o Efeito Parallax Simples */
    padding-top: 10vh;
    padding-bottom: 10vh;
    /* Espaçamento entre as Linhas */
    line-height: 2em;
    /* Espaçamento da Margem Esquerda */
    padding-left: 30px;
    font-family: var(--fonte3);
    /* Para o Tamanho das Fontes se tornar Responsivo:
    4.5% da Largura da Viewport */
    font-size: 3.5vw;
}

/* Para dar espaçamento entre a Terceira e a Quarta Estrofe */
section > p {
    padding-bottom: 2em;
}

section#img01 {
    background-image: url("../imagens/background001.jpg");
    background-position: right center;
}

section#img02 {
    background-image: url("../imagens/background002.jpg");
}

section.normal {
    background-color: white;
    color: black;
}

section.imagem {
    background-color: rgb(51, 51, 51);
    color: white;
    /* Colocando uma Sombra Interna na Caixa */
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.473);
    /* Para as Imagens cobrirem totalmente as Caixas */
    background-size: cover;
    /* Para criar o Efeito Parallax Simples, fixando
    as Imagens no Fundo das Caixas */
    background-attachment: fixed;
}

section.imagem > p {
    /* Criando uma Caixa Escura dentro das sections escuras */
    background-color: rgba(0, 0, 0, 0.514);
    /* Colocar uma sombra no texto */
    text-shadow: 1px 1px 0px black;
    /* Para criarmos uma Caixa que se adapta ao tamanho 
    do Conteúdo */
    display: inline-block;
    padding: 10px;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}